<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
   <title>Den Hartog&#8217;s Mechanics</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" type="text/css" media="all" href="notes.css" />
   <link rel="alternate" type="application/rss+xml" title="Den Hartog&#8217;s Mechanics RSS Feed" href="http://www.leancrew.com/mechanics/index.xml" />
   <script type="text/javascript" src="../jsMath/easy/load.js"></script>
   <script type="text/javascript" src="problemCounters.js"></script>
</head>
<body onload="styleLN()">
   <div id="container">
      <div id="title">
        <h1><a href="index.html">Den Hartog&#8217;s <cite>Mechanics</cite></a></h1>
            <h2>A web-based solutions manual for statics and dynamics</h2>
      </div> <!-- title -->
      <div id="sidebar">
         <h1><a href="http://store.doverpublications.com/0486607542.html">The book</a></h1>
         <p><a href="http://store.doverpublications.com/0486607542.html"><img src="images/book-cover-small.png" /></a></p>

         <hr />
         <h1><a href="http://www.leancrew.com/all-this/">Your host</a></h1>
         <p><a href="http://www.leancrew.com/all-this/"><img src="images/timo.jpg" /></a></p>
         <p>drdrang at gmail</p> 
         <hr />
         <p>Problems solved:<br />
           &nbsp;&nbsp;1–<script>problemCount()</script>.</p>
         <ul>
           <script>chapterList()</script>
         </ul>
         <hr />
         <p>If you're having trouble seeing the equations, <a href="index.html">look here</a> for instructions on getting the math fonts.</p>
         <hr />
         <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
      </div> <!-- sidebar -->
      
      <div id="note">