<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
   <title>Den Hartog&#8217;s Mechanics</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" type="text/css" media="all" href="notes.css" />
   <link rel="alternate" type="application/rss+xml" title="Den Hartog&#8217;s Mechanics RSS Feed" href="http://www.leancrew.com/mechanics/index.xml" />
   <script type="text/javascript" src="../jsMath/easy/load.js"></script>
   <script type="text/javascript" src="problemCount.js"></script>
</head>
<body onload="styleLN()">
   <div id="container">
      <div id="title">
        <h1><a href="index.html">Den Hartog&#8217;s <cite>Mechanics</cite></a></h1>
            <h2>A web-based solutions manual</h2>
      </div> <!-- title -->
      <div id="sidebar">
         <h1><a href="http://store.doverpublications.com/0486607542.html">The book</a></h1>
         <p><a href="http://store.doverpublications.com/0486607542.html"><img src="images/book-cover-small.png" /></a></p>

         <hr />
         <h1><a href="http://www.leancrew.com/all-this/">Your host</a></h1>
         <p><a href="http://www.leancrew.com/all-this/"><img src="images/timo.jpg" /></a></p>
         <p>drdrang at gmail</p> 
         <hr />
         <p>Problems solved:<br />
           &nbsp;&nbsp;<script>problemCount()</script> of 334.</p>
         <ul>
           <li><a href="chapter01.html">Chapter 1</a></li>
           <li><a href="chapter02.html">Chapter 2</a></li>
           <li><a href="chapter03.html">Chapter 3</a></li>
           <li><a href="chapter04.html">Chapter 4</a></li>
           <li><a href="chapter05.html">Chapter 5</a></li>
           <li><a href="chapter06.html">Chapter 6</a></li>
           <li><a href="chapter07.html">Chapter 7</a></li>
           <li><a href="chapter08.html">Chapter 8</a></li>
           <li><a href="chapter09.html">Chapter 9</a></li>
           <li><a href="chapter10.html">Chapter 10</a></li>
           <li><a href="chapter11.html">Chapter 11</a></li>
           <li><a href="chapter12.html">Chapter 12</a></li>
           <li><a href="chapter13.html">Chapter 13</a></li>
           <li><a href="chapter14.html">Chapter 14</a></li>
           <li><a href="chapter15.html">Chapter 15</a></li>
           <li><a href="chapter16.html">Chapter 16</a></li>
           <li><a href="chapter17.html">Chapter 17</a></li>
         </ul>
         <hr />
         <p>If you're having trouble seeing the equations, <a href="index.html">look here</a> for instructions on getting the math fonts.</p>
         <hr />
         <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
      </div> <!-- sidebar -->
      
      <div id="note">